@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --shadow-color: #64748b;
    --primary-color: #1d4ed8;
    --secondary-color: #0f172a;
    --light-color: #f0fdfa;
}

.active{
    background-color: var(--light-color);
    color: var(--primary-color);
}
.bg-primary{
    background-color: var(--primary-color);
}

body{
    background-color: var(--light-color);
}

.button-filled:hover{
    transform: scale(1.2);
    transition: all 1s;
}

header{
    box-shadow: 4px 4px 4px var(--shadow-color);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.hero{
    background-image: url('../images/city-apartment.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 70vh; */
    text-align: center;
}

.hero div{
    background-color: rgba(0, 0, 0, 0.7);
    /* height: 70vh; */
}

.text-light{
    color: var(--light-color);
}

.text-primary{
    color: var(--primary-color);
}

.text-secondary{
    color: var(--secondary-color);
}